global:
  scrape_interval: 15s  
  scrape_timeout: 10s  

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - 'alertmanager:9093' 

rule_files:
  - "rules/*.yml"  

# on docker compose network all metric paths are /metric
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'nodeexporter'
    static_configs:
      - targets: ['nodeexporter:9100']
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']